body {
  background: #f6f6f6;
  font-family: Arial, sans-serif;
}

.document {
  width: 900px;
  height: 80vh;
  overflow-y: auto;     /* enable vertical scrolling */
  margin: 40px auto; /* centers it */
  background: white;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  line-height: 1.6;
}

h1 {
  color: darkred;
  font-weight: normal;
}

h2 {
  margin-top: 30px;
}

.figure-right {
  float: right;
  width: 300px;
  margin: 0 0 20px 20px;
  text-align: center;
  font-size: 0.85em;
}

.figure-left {
  float: left;
  width: 300px;
  margin: 0 20px 20px 0;
  text-align: center;
  font-size: 0.85em;
}

.clear {
  clear: both;
}
.redacted {
  background: black;
  color: black;
}

.log {
  font-size: 0.8em;
  color: #ff5555;
  opacity: 0.6;
  font-style: italic;
}
